<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/climactivity-app.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>de.climactivity.app</string>
		<key>CFBundleShortVersionString</key>
		<string>1.40</string>
		<key>CFBundleVersion</key>
		<string>1.40</string>
		<key>SigningIdentity</key>
		<string>Apple Development: Timo Volk (WAL3F8KU9P)</string>
		<key>Team</key>
		<string>BGH588JJJP</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2021-11-02T14:17:59Z</date>
	<key>Name</key>
	<string>climactivity-app</string>
	<key>SchemeName</key>
	<string>climactivity-app</string>
</dict>
</plist>
